
Skype Personal Number
Google Voice
Google Everything — Gmail, Google Drive, Google Calendar, Google Apps -- emails, online shared documents, drafts, forms, and scheduling
Shoeboxed
Freshbooks 
Hello Fax 
OurDeal
PC2Paper
Earth Class Mail