{% load staticfiles%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>{% block title %}Virtual_Office{% endblock %}</title>

    <!-- Bootstrap core CSS -->
	{% include 'mycss.html'%}
  </head>

  <body>

    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      {% include 'mynavv.html'%}
    </nav>

    <div class="container">
		{% block content %}
		
      <!-- Main component for a primary marketing message or call to action -->
      <!--
	  <div class="jumbotron">
		<div class="container">
			<h1>Navbar example</h1>
			<p>This example is a quick exercise to illustrate how the default, static and fixed to top navbar work. It includes the responsive CSS and HTML, so it also adapts to your viewport and device.</p>
			<p>To see the difference between static and fixed top navbars, just scroll.</p>
			<p>
			  <a class="btn btn-lg btn-primary" href="../../components/#navbar" role="button">View navbar docs &raquo;</a>
			</p>
		</div> 
      </div>
		

    <!-- /container -->
	<!-- <section id="about">
		<div class="jumbotron">
			<div class = "container">
				<div class="row">
					<center><h2>About</h2></center>
						<div style='background-color:black;height:400px;'>
						</div>
				</div>
			</div>
		</div>
	</section>
	
	
	<section id="contact">	
		<div class="jumbotron">
			<div class="container">
				<div class="row">
					<center><h2>Contact us</h2></center>
					<div style='background-color:blue;height:400px;'>
					</div>
				</div>
			</div>
		</div>
	</section>
		-->
	
		{% endblock %}
	</div>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    {% include 'myjs.html' %}
  </body>
</html>
